h1{
    color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(103, 57, 163);
}
h2{
    color: darksalmon;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.parolacce{
    color: darkturquoise;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Justin{
    color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.justin2{
    color: darksalmon;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
